# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.venv-1
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/
secrets.toml

# OS stuff
.DS_Store

# Demo logs and cache
*.log
.pytest_cache/

# Go
backend/raven.exe
backend/raven
*.db

# IDE
.idea/
.vscode/
*.swp
